# Movie Revenue Project Data Cleaning and Modeling Notebook

In [1]:
# Needed to pip install psycopg2
# pip install psycopg2-binary

In [2]:
# imports 
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import plotly.express as px
from sqlalchemy import create_engine

In [3]:
# Imports for modeling: 
import statsmodels.api as sm
# Need to import this to deal with missing data 
from sklearn.impute import SimpleImputer
# Need these for creating pipeline 
from sklearn.pipeline import make_pipeline 
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn import metrics

# Load in and Clean Data

## Step 1: Connect to SQL server to get data

In [560]:
# Establish a connection using SQLAlchemy 

# Try following string 
# Note: 'psycopg2' is the assumed driver for postgres 
connection_url = 'postgresql+psycopg2://oahwyljl:sSrk8smQ16BCOVhHQBVWVtK2nVcCDmiF@peanut.db.elephantsql.com/oahwyljl'

try:
    # GET THE CONNECTION OBJECT (ENGINE) FOR THE DATABASE
    engine = create_engine(connection_url)
    print( f"Connection created successfully.")
    
except Exception as ex:
    print("Connection could not be made due to the following error: \n", ex)

Connection created successfully.

In [561]:
# There were 539 empty rows, but those got removed from the database 
engine.execute('''SELECT count(movieinfo_id) FROM moviesinfo WHERE title = 'NaN' ''').fetchall()

[(0,)]

### Get data and replace NaNs

In [562]:
# df is the movies_info dataframe
df_backup = pd.read_sql_query("SELECT * from moviesinfo", con=engine, parse_dates = ['released'])

In [565]:
# df_revenue is the dataframe containing revenue 
df_revenue_backup = pd.read_sql_query("SELECT * from moviesgross", con=engine, parse_dates = ['release_date'])

In [913]:
# We have 13,380 movies in total pulled in from API (before cleaning)
# We have 14,939 movies from The Numbers 
print(df_backup.shape) 
print(df_revenue_backup.shape)

(13380, 15)
(14939, 9)

In [912]:
# Create the df we'll be transforming 
df = df_backup.copy()

In [914]:
# Create df_revenue that we'll be operating on
df_revenue = df_revenue_backup.copy()

In [915]:
# Remove movieinfo_id extra column from both datasets
# Otherwise, will have issue with removing duplicates later 
df = df.drop('movieinfo_id', axis = 1)
df_revenue = df_revenue.drop('moviegross_id', axis = 1)

In [916]:
# Replace 'NaN' strings and 'N/A' strings with none type in both dataframes 
df = df.replace('NaN', np.nan)
df = df.replace('N/A', np.nan)
df_revenue = df_revenue.replace('NaN', np.nan)
df_revenue = df_revenue.replace('N/A', np.nan)

## Step 2: Inspect data and remove duplicates and TV series:

### Remove duplicate values:

In [917]:
# There are 2,567 duplicate values 
len(df[df.duplicated()])

2567

In [918]:
# No duplicate values in df_revenue! 
df_revenue[df_revenue.duplicated()]

Empty DataFrame
Columns: [year, rank, title, release_date, distributor, genre, gross, tickets_sold]
Index: []

In [919]:
# Drop duplicates 
df = df.drop_duplicates(subset = ['title', 'released'])

In [920]:
# Now we have 10,807 observations with movie info 
len(df)

10807

In [921]:
# Check that there is only one instance of this: 
df[df['title'] == 'Galapagos']

,title,year,rated,released,runtime,genre,director,writer,actors,plot,language,country,poster,seasons
3001,Galapagos,2006,NaN,2007-03-18,180 min,Documentary,NaN,NaN,"Tilda Swinton, Richard Wollocombe, Tom Hiddleston",The history of these beautiful Islands from th...,English,United Kingdom,https://m.media-amazon.com/images/M/MV5BNzdiZm...,1.0

### Remove TV Series:

In [922]:
# 10,646 observations are NOT TV series 
len(df[df['seasons'].isna()])

10646

In [923]:
# Remove the TV series (keep only entries where 'seasons' is NaN)
df = df[df['seasons'].isna()]

In [924]:
# Drop the Series column, since we don't need it anymore: 
df = df.drop('seasons', axis = 1)

### Remove entries with weird years that indicate TV series:

In [925]:
df.year.value_counts()

2015         550
2014         548
2016         541
2013         525
2018         512
            ...
2017–          1
2023–          1
1920           1
1992–          1
2016–2018      1
Name: year, Length: 125, dtype: int64

In [926]:
# Keep only the rows where year doesn't have '-' in it: 
# Remove 23 values 
df = df[df['year'].apply(lambda x: '–' not in x)]

In [927]:
# reset index on df and get rid of old index 
df = df.reset_index(drop = True)

In [928]:
# See how much data is missing in df and df_revunue
df.isna().sum()

title          0
year           0
rated       1265
released     149
runtime       75
genre         15
director      45
writer       711
actors       162
plot         114
language      59
country      230
poster       124
dtype: int64

In [929]:
# Good - no missing values for gross revenue 
df_revenue.isna().sum()

year               0
rank               0
title              0
release_date      36
distributor     1127
genre            931
gross              0
tickets_sold       0
dtype: int64

In [930]:
# Good that 'gross' is already an integer and won't need to be recoded! 
df_revenue['gross']

0        572984769
1        224543292
2        212609036
3        183651655
4        173005945
           ...
14934          869
14935          589
14936          516
14937          374
14938          150
Name: gross, Length: 14939, dtype: int64

## Step 3: Recode runtime and year (numeric) columns

In [931]:
# The following columns will need to be recoded: 
# Year --> to int 
# Runtime --> to int 
# Genre --> need to convert to list and dummy code genres 
# Directors --> create extra columns code top 10, 50, 100 
# Writer --> ignore for now? Can do same thing as with Director and actors 
# Actors --> convert to list and code top 10, 50, and 100 
# Language --> code as English only, English and others, Foreign lang only --> then one hot encode as 2 variables 
# Country --> code as US only, US and other countries, Foreign country only--> then one hot encode 
for column in df.columns: 
    print(column, df[column].dtype)

title object
year object
rated object
released datetime64[ns]
runtime object
genre object
director object
writer object
actors object
plot object
language object
country object
poster object

In [932]:
# Function for converting 'runtime' to int 
def get_minutes(x): 
    if pd.isna(x): 
        return np.nan 
    else: 
        try: 
            return int(x.split(' ')[0])
        except: 
            return np.nan

In [933]:
# Convert 'runtime'
df['runtime'] = df['runtime'].apply(get_minutes)

In [934]:
# 'Runtime' column has 93 NAN values 
df['runtime'].isna().sum()

77

In [935]:
# Now can recode year column to int: 
df['year'] = df['year'].apply(lambda x: int(x) if pd.notna(x) else np.nan)

# Recode Categorical Columns: 

## Columns for Top 10, 50, 100 Directors:

In [936]:
num_directors = len(df['director'].value_counts())
print(f'There are {num_directors} directors in the dataset.')

There are 6488 directors in the dataset.

### What % of movies did the top 10, 50, 100 directors make?

In [937]:
# Lists of the top directors: 
# Problem with this approach: need to see how many movies top 10 director made and include anyone 
# who made the same number of movies in that list too 
top_10_directors = list(df['director'].value_counts()[0:10].index)
top_50_directors = list(df['director'].value_counts()[0:50].index)
top_100_directors = list(df['director'].value_counts()[0:100].index)

In [938]:
# Top directors and number of movies they've made since 2000 
df['director'].value_counts()[0:11]

Woody Allen             20
Ridley Scott            19
Clint Eastwood          18
Steven Spielberg        18
Steven Soderbergh       17
Ron Howard              15
Martin Scorsese         14
Michael Winterbottom    14
François Ozon           14
M. Night Shyamalan      12
David Gordon Green      12
Name: director, dtype: int64

In [939]:
# New approach: 
cutoff_10 = df['director'].value_counts()[9]
top_10_directors = list(df['director'].value_counts()[df['director'].value_counts() >= cutoff_10].index)
num_top = len((df['director'].value_counts()[df['director'].value_counts() >= cutoff_10]))

# Movies made by the top 10 directors: 
top_10 = df['director'].apply(lambda x: x in top_10_directors).sum()
print(f'There were {num_top_10} "top 10" directors, who EACH made at least {cutoff_10} movies. \n \
They made {top_10} movies ({round(top_10 / len(df) * 100, 1)}% of all movies in dataset).')

There were 10 "top 10" directors, who EACH made at least 12 movies.
 They made 209 movies (2.0% of all movies in dataset).

In [940]:
cutoff_50 = df['director'].value_counts()[49]
top_50_directors = list(df['director'].value_counts()[df['director'].value_counts() >= cutoff_50].index)
num_top_50 = len((df['director'].value_counts()[df['director'].value_counts() >= cutoff_50]))

# Movies made by the top 50 directors: 
top_50 = df['director'].apply(lambda x: x in top_50_directors).sum()
print(f'There were {num_top_50} "top 50" directors, who EACH made at least {cutoff_50} movies.\n \
They made {top_50} movies ({round(top_50 / len(df) * 100, 1)}% of all movies in dataset).')

There were 73 "top 50" directors, who EACH made at least 8 movies.
 They made 739 movies (7.0% of all movies in dataset).

In [941]:
cutoff_100 = df['director'].value_counts()[99]
top_100_directors = list(df['director'].value_counts()[df['director'].value_counts() >= cutoff_100].index)
num_top_100 = len((df['director'].value_counts()[df['director'].value_counts() >= cutoff_100]))

# Movies made by the top 100 directors: 
top_100 = df['director'].apply(lambda x: x in top_100_directors).sum()
print(f'There were {num_top_100} "top 100" directors, who EACH made at least {cutoff_100} movies.\n \
They made {top_100} movies ({round(top_100 / len(df) * 100, 1)}% of all movies in dataset).')

There were 132 "top 100" directors, who EACH made at least 7 movies.
 They made 1152 movies (10.8% of all movies in dataset).

### Create columns to code for top directors:

In [942]:
# Function for coding top director 
def has_top_director(x, director_list): 
    if pd.isna(x): 
        return np.nan 
    elif x in director_list: 
        return 1 
    else: 
        return 0

In [943]:
# Apply function to create 3 new columns: 
df['top_10_dir'] = df['director'].apply(lambda x: has_top_director(x, top_10_directors))
df['top_50_dir'] = df['director'].apply(lambda x: has_top_director(x, top_50_directors))
df['top_100_dir'] = df['director'].apply(lambda x: has_top_director(x, top_100_directors))

## Columns for Top 10, 50, 100 Actors:

In [944]:
# Function for converting column to list of actors instead of string 
def to_list(x): 
    if pd.isna(x): 
        return np.nan 
    else: 
        return x.split(', ')

In [945]:
# Apply function to 'actors' and 'writer' columns 
# Make sure to run only once 
df['actors'] = df['actors'].apply(to_list) 
df['writer'] = df['writer'].apply(to_list)

In [946]:
# Create a dictionary of actors to get the top actors by number of movies they've been in 
actor_dict = {}
for actors in df['actors']: 
    if isinstance(actors, list):
        for actor in actors: 
            actor_dict[actor] = actor_dict.get(actor, 0) + 1

In [947]:
# 16,374 actors in the dataset 
actor_dict

{'Tom Holland': 8,
 'Zendaya': 3,
 'Benedict Cumberbatch': 9,
 'Simu Liu': 1,
 'Awkwafina': 5,
 'Tony Chiu-Wai Leung': 9,
 'Tom Hardy': 14,
 'Woody Harrelson': 27,
 'Michelle Williams': 22,
 'Scarlett Johansson': 32,
 'Florence Pugh': 4,
 'David Harbour': 2,
 'Vin Diesel': 20,
 'Michelle Rodriguez': 12,
 'Jordana Brewster': 5,
 'Gemma Chan': 2,
 'Richard Madden': 5,
 'Angelina Jolie': 23,
 'Daniel Craig': 20,
 'Ana de Armas': 5,
 'Rami Malek': 4,
 'Emily Blunt': 22,
 'Millicent Simmonds': 2,
 'Cillian Murphy': 12,
 'Carrie Coon': 2,
 'Paul Rudd': 22,
 'Finn Wolfhard': 3,
 'Ryan Reynolds': 37,
 'Jodie Comer': 2,
 'Taika Waititi': 3,
 'Dwayne Johnson': 28,
 'Edgar Ramírez': 7,
 'Timothée Chalamet': 4,
 'Rebecca Ferguson': 6,
 'Alexander Skarsgård': 9,
 'Millie Bobby Brown': 2,
 'Rebecca Hall': 13,
 'Jamie Lee Curtis': 10,
 'Judy Greer': 8,
 'Andi Matichak': 2,
 'Judi Dench': 18,
 'Stephanie Beatriz': 1,
 'María Cecilia Botero': 1,
 'John Leguizamo': 19,
 'Emma Stone': 20,
 'Emma Thompson': 17,
 'Joel Fry': 2,
 'Matthew McConaughey': 29,
 'Reese Witherspoon': 21,
 'LeBron James': 2,
 'Don Cheadle': 16,
 'Cedric Joe': 1,
 'Virginia Madsen': 13,
 'Xander Berkeley': 4,
 'Tony Todd': 5,
 'Oscar Isaac': 16,
 'Charlize Theron': 28,
 'Chloë Grace Moretz': 14,
 'Margot Robbie': 11,
 'Idris Elba': 15,
 'John Cena': 9,
 'Kelly Marie Tran': 1,
 'Lady Gaga': 2,
 'Adam Driver': 10,
 'Al Pacino': 18,
 'Darby Camp': 1,
 'Jack Whitehall': 1,
 'Izaac Wang': 1,
 'Gael García Bernal': 23,
 'Vicky Krieps': 5,
 'Rufus Sewell': 7,
 'Ana de la Reguera': 2,
 'Tenoch Huerta': 1,
 'Josh Lucas': 12,
 'Lewis Tan': 2,
 'Jessica McNamee': 1,
 'Josh Lawson': 2,
 'Rose Byrne': 20,
 'Domhnall Gleeson': 10,
 'David Oyelowo': 9,
 'Tyler Perry': 10,
 'Ron Pardo': 1,
 'Will Brisbin': 1,
 'Anthony Ramos': 2,
 'Corey Hawkins': 2,
 'Leslie Grace': 1,
 'Natalie Wood': 1,
 'George Chakiris': 1,
 'Richard Beymer': 1,
 'Keanu Reeves': 23,
 'Carrie-Anne Moss': 11,
 'Yahya Abdul-Mateen II': 1,
 'Bob Odenkirk': 1,
 'Aleksey Serebryakov': 2,
 'Connie Nielsen': 9,
 'Jason Statham': 26,
 'Holt McCallany': 1,
 'Josh Hartnett': 15,
 'Nicolas Cage': 36,
 'Taylor Russell': 4,
 'Logan Miller': 6,
 'Deborah Ann Woll': 2,
 'Jennifer Hudson': 4,
 'Forest Whitaker': 23,
 'Marlon Wayans': 11,
 'Gal Gadot': 5,
 'Chris Pine': 18,
 'Kristen Wiig': 16,
 'Chris Rock': 17,
 'Samuel L. Jackson': 41,
 'Max Minghella': 6,
 'Jack Dylan Grazer': 2,
 'Zach Galifianakis': 11,
 'Ed Helms': 10,
 'Isabela Merced': 5,
 'Marsai Martin': 2,
 'Mckenna Grace': 4,
 'Dev Patel': 7,
 'Alicia Vikander': 16,
 'Joel Edgerton': 18,
 'Pamela Adlon': 2,
 'Austin Amelio': 1,
 'Becky Ann Baker': 2,
 'Ralph Fiennes': 20,
 'Gemma Arterton': 15,
 'Rhys Ifans': 10,
 'Benicio Del Toro': 12,
 'Adrien Brody': 22,
 'Tilda Swinton': 21,
 'Katheryn Winnick': 3,
 'Liam Neeson': 36,
 'Teresa Ruiz': 1,
 'Jeffrey Dean Morgan': 6,
 'Cricket Brown': 1,
 'William Sadler': 2,
 'Denzel Washington': 25,
 'Jared Leto': 7,
 'Ben Platt': 1,
 'Julianne Moore': 35,
 'Kaitlyn Dever': 3,
 'Will Smith': 19,
 'Aunjanue Ellis': 4,
 'Jon Bernthal': 7,
 'Matt Damon': 38,
 'Camille Cottin': 1,
 'Abigail Breslin': 11,
 'Annabelle Wallis': 3,
 'Maddie Hasson': 3,
 'George Young': 1,
 'Austin Reed Alleman': 1,
 'Sara Anne': 1,
 'Alican Barlas': 1,
 'Daisy Ridley': 3,
 'Demián Bichir': 7,
 'Keri Russell': 9,
 'Jesse Plemons': 4,
 'Jeremy T. Thomas': 1,
 'Clint Eastwood': 8,
 'Dwight Yoakam': 2,
 'Daniel V. Graulau': 1,
 'Lathrop Walker': 1,
 'Tabitha Bastien': 1,
 'Helena Grace Donald': 1,
 'Milla Jovovich': 14,
 'Tony Jaa': 8,
 'Ron Perlman': 11,
 'Thomasin McKenzie': 3,
 'Anya Taylor-Joy': 9,
 'Matt Smith': 4,
 'Tom Hanks': 31,
 'Helena Zengel': 1,
 'Tom Astor': 1,
 'Alessandro Nivola': 12,
 'Leslie Odom Jr.': 2,
 'Jason London': 3,
 'Wiley Wiggins': 2,
 'Bradley Cooper': 20,
 'Cate Blanchett': 27,
 'Toni Collette': 22,
 'Michael Keaton': 13,
 'Maggie Q': 3,
 'Nicholas Hoult': 13,
 'Finn Little': 2,
 'Sarah Goldberg': 1,
 'Vondie Curtis-Hall': 1,
 'Kristen Stewart': 27,
 'Timothy Spall': 9,
 'Sally Hawkins': 9,
 'Jude Hill': 1,
 'Lewis McAskie': 1,
 'Caitríona Balfe': 1,
 'Merab Ninidze': 2,
 'Rachel Brosnahan': 3,
 'Alana Haim': 1,
 'Cooper Hoffman': 1,
 'Sean Penn': 18,
 'LaKeith Stanfield': 4,
 'Daniel Kaluuya': 2,
 'Carey Mulligan': 11,
 'Bo Burnham': 1,
 'Alison Brie': 6,
 'Gerard Butler': 27,
 'Frank Grillo': 8,
 'Alexis Louder': 1,
 'Taylour Paige': 1,
 'Riley Keough': 6,
 'Nicholas Braun': 2,
 'Rupert Friend': 10,
 'Violet McGraw': 2,
 'Madeline Brewer': 1,
 'Taylor Takahashi': 1,
 'Pamelyn Chee': 1,
 'Jorge Lendeborg Jr.': 3,
 'Michael B. Jordan': 8,
 'Chanté Adams': 2,
 'Jalon Christian': 1,
 'Hugh Jackman': 30,
 'Thandiwe Newton': 8,
 'Luke Wilson': 18,
 'Vinessa Shaw': 8,
 'Wayne Knight': 1,
 'Hilary Swank': 13,
 'Michael Ealy': 8,
 'Mike Colter': 1,
 'Alex Wolff': 4,
 'Adam Arkin': 1,
 'Colin Farrell': 29,
 'Tye Sheridan': 8,
 'Lily-Rose Depp': 2,
 'Steven Yeun': 4,
 'Yeri Han': 1,
 'Alan Kim': 1,
 'Owen Teale': 1,
 'Alan David': 1,
 'Billy Crystal': 7,
 'Chad Jennings': 1,
 'Dierdre Friel': 1,
 'Rose Reid': 1,
 'Jedidiah Goodacre': 2,
 'Katherine McNamara': 1,
 'Noomi Rapace': 8,
 'Hilmir Snær Guðnason': 3,
 'Björn Hlynur Haraldsson': 1,
 'Eliza Dushku': 5,
 'Jeremy Sisto': 7,
 'Emmanuelle Chriqui': 6,
 'Tiffany Haddish': 6,
 'Robin Wright': 15,
 'Sarah Dawn Pledge': 1,
 'Robert De Niro': 38,
 'Uma Thurman': 13,
 'Rob Riggle': 6,
 'Jessica Chastain': 16,
 'Andrew Garfield': 12,
 'Cherry Jones': 1,
 'Will Forte': 5,
 'Mark Wahlberg': 34,
 'Jason Isaacs': 8,
 'Frances McDormand': 14,
 'David Strathairn': 10,
 'Linda May': 1,
 'Josephine Langford': 3,
 'Hero Fiennes Tiffin': 3,
 'Louise Lombard': 1,
 'Anthony Hopkins': 24,
 'Olivia Colman': 4,
 'Mark Gatiss': 1,
 'Ellen Burstyn': 10,
 'Jane Curtin': 2,
 'Loretta Devine': 5,
 'Jim Daly': 1,
 'Jonathan Evans': 1,
 'Tony Evans': 1,
 'Valene Kane': 1,
 'Morgan Watkins': 1,
 'Christine Adams': 1,
 'Vincent Lindon': 8,
 'Agathe Rousselle': 1,
 'Garance Marillier': 2,
 'Patti Harrison': 1,
 'Rosalind Chao': 2,
 'Reid Miller': 1,
 'Connie Britton': 7,
 'Diljit Dosanjh': 5,
 'Shehnaaz Gill': 1,
 'Sonam Bajwa': 1,
 'Michael Cera': 10,
 'Mary Elizabeth Winstead': 7,
 'Kieran Culkin': 2,
 'Reece Shearsmith': 1,
 'Hayley Squires': 2,
 'Dickie Jones': 1,
 'Christian Rub': 1,
 'Mel Blanc': 1,
 'Malik Barnhardt': 1,
 'Starletta DuPois': 1,
 'Omar Gooding': 1,
 'John Hargreaves': 1,
 'Briony Behets': 1,
 'Mike McEwen': 1,
 'Kirk Franklin': 1,
 'Amy Grant': 1,
 "Vernard 'Bone' Hampton": 1,
 'Azhy Robertson': 1,
 'Gillian Jacobs': 7,
 'John Gallagher Jr.': 5,
 'Jesse Howland': 1,
 'Conner Floyd': 1,
 'Rachel Clark-Spear': 1,
 'Marc-André Leclerc': 1,
 'Peter Mortimer': 1,
 'Alex Honnold': 2,
 'Mila Kunis': 11,
 'Carla Gallo': 1,
 'Glenn Close': 10,
 'Tahar Rahim': 6,
 'Nouhe Hamady Bari': 1,
 'Saadna Hamoud': 1,
 'Justin Chon': 5,
 "Mark O'Brien": 2,
 'Bancha Duriyapunt': 1,
 'Apakorn Youkongkaew': 1,
 'Anan Surawan': 1,
 'Casey Elliott': 2,
 'Katherine Thomas': 1,
 'Tyler Hardwick': 1,
 'Michelle Pfeiffer': 12,
 'Lucas Hedges': 6,
 'Tracy Letts': 4,
 'Simon Rex': 1,
 'Bree Elrod': 1,
 'Suzanna Son': 1,
 'Winston Duke': 2,
 'Zazie Beetz': 3,
 'Bill Skarsgård': 3,
 'Jason Segel': 13,
 'Isabella Kai': 1,
 'Ron Mael': 1,
 'Russell Mael': 1,
 'Beck': 1,
 'Laurence Fishburne': 12,
 'Sam Richardson': 1,
 'Milana Vayntrub': 1,
 'George Basil': 2,
 'Johnny Depp': 26,
 'Toby Huss': 1,
 'Christina Lindberg': 1,
 'Stellan Skarsgård': 11,
 'Danièle Vlaminck': 1,
 'Piero Botto': 1,
 'Sergio Cauda': 1,
 'Maria Cicciù': 1,
 'Bill Murray': 16,
 'Dan Aykroyd': 7,
 'Sigourney Weaver': 23,
 'Alex Kendrick': 3,
 'Ken Bevel': 2,
 'Kevin Downes': 2,
 'Inbar Lavi': 1,
 'James Caan': 5,
 'Edward Furlong': 4,
 'Stephan James': 3,
 'J.K. Simmons': 11,
 'Alexander Ludwig': 4,
 'Naveen Polishetty': 1,
 'Rahul Ramakrishna': 1,
 'Priyadarshi': 1,
 'John David Washington': 3,
 'Robert Pattinson': 17,
 'Elizabeth Debicki': 4,
 'Caglar Ertugrul': 1,
 'Ufuk Bayraktar': 1,
 'Firat Dogruloglu': 1,
 'Tom Cruise': 20,
 'Tim Robbins': 17,
 'Kelly McGillis': 4,
 'Jerry Saltz': 1,
 'Martin Kemp': 1,
 'Mohammad Bin Salman': 1,
 'Mitchell McCormick': 1,
 'Tom Anniko': 1,
 'Dylan Penn': 1,
 'Emily Tosta': 1,
 'Beth Grant': 3,
 'Gary Oldman': 13,
 'Armie Hammer': 11,
 'Evangeline Lilly': 3,
 'Jane Fonda': 6,
 'Vanessa Redgrave': 10,
 'Jason Robards': 3,
 'Donnie Yen': 8,
 'Nicholas Tse': 3,
 'Lan Qin': 1,
 'Pilou Asbæk': 4,
 'Takeshi Kitano': 6,
 'Eric Bana': 13,
 "Genevieve O'Reilly": 1,
 "Keir O'Donnell": 3,
 'Amiah Miller': 1,
 'Lonnie Chavis': 1,
 'Tran Thanh': 1,
 'Tuan Tran': 1,
 'Ngan Chi': 1,
 'Brad Pitt': 23,
 'Mireille Enos': 2,
 'Daniella Kertesz': 1,
 'Kim Yoon-seok': 4,
 'Zo In-sung': 2,
 'Joon-ho Huh': 3,
 'Virginie Efira': 1,
 'Charlotte Rampling': 10,
 'Daphne Patakia': 1,
 'David Spade': 5,
 'John Goodman': 22,
 'Eartha Kitt': 1,
 'Jing Wu': 4,
 'Jackson Yee': 2,
 'Yihong Duan': 3,
 'Vince Vaughn': 19,
 'Kathryn Newton': 2,
 "Celeste O'Connor": 1,
 'Hidetoshi Nishijima': 3,
 'Tôko Miura': 1,
 'Reika Kirishima': 1,
 "Ed O'Neill": 2,
 'Ethan Embry': 2,
 'JoBeth Williams': 5,
 'Eligio Meléndez': 2,
 'Regina Flores': 1,
 'Dalia Zuñiga': 1,
 'Sophia Ali': 1,
 'Rish Shah': 1,
 'Manisha Koirala': 4,
 'Dan Stevens': 7,
 'Isla Fisher': 9,
 'Aimee-Ffion Edwards': 1,
 'Nate Parker': 2,
 'Omari Hardwick': 3,
 'Beau Knapp': 2,
 'Amanda Seyfried': 15,
 'Olivia Katz': 1,
 'Christian Kutz': 1,
 'Kotarô Daigo': 1,
 'Nana Mori': 1,
 'Tsubasa Honda': 1,
 'Bart Johnson': 2,
 'Paris Warner': 2,
 'Clare Niederpruem': 1,
 'José Julián': 2,
 'Jeanette Samano': 1,
 'Chelsea Rendon': 1,
 'James Spader': 4,
 'Peter Facinelli': 3,
 'Robin Tunney': 6,
 'Vincent Cassel': 16,
 'Carol Burnett': 4,
 'Louis Malle': 1,
 'Luis Gerardo Méndez': 1,
 'José Zúñiga': 2,
 'Vincent Spano': 1,
 'Mary Elizabeth Mastrantonio': 1,
 'Vanessa Martinez': 1,
 'Sivakarthikeyan': 1,
 'Vinay Rai': 1,
 'Priyanka Arulmohan': 1,
 'John Eric Bentley': 1,
 'Steve Blum': 1,
 'Johnny Yong Bosch': 1,
 'Lisa Lindgren': 1,
 'Michael Nyqvist': 6,
 'Emma Samuelsson': 1,
 'Alain Delon': 2,
 'Romy Schneider': 4,
 'Maurice Ronet': 2,
 'Alvin Ailey': 2,
 'DJ Express': 1,
 'Fana Minea Tesfagiorgis': 1,
 'Andie MacDowell': 7,
 'Chris Elliott': 2,
 'Taylor Henderson': 1,
 'Jazmín Abuín': 1,
 'JB Blanc': 2,
 'Selim Erdogan': 1,
 'Elvin Besikcioglu': 1,
 'Bülent Kayabas': 1,
 'Armando Espitia': 1,
 'Yael Tadeo': 1,
 'Raúl Briones': 1,
 'Rachel Sennott': 1,
 'Danny Deferrari': 1,
 'Fred Melamed': 2,
 'Giovanni Ribisi': 11,
 'Remo Girone': 1,
 'Mike Adriano': 1,
 'Bill Bailey': 2,
 'Vanessa Cage': 1,
 'Johnny Castle': 1,
 'Jack Nicholson': 10,
 'Sam Heughan': 2,
 'Ruby Rose': 1,
 'Andy Serkis': 6,
 'Tim Roth': 12,
 'Grace Delrue': 1,
 'Martha Plimpton': 1,
 'Ann Dowd': 3,
 'Willem Dafoe': 28,
 'Paul Bettany': 12,
 'Marián Aguilera': 1,
 'Jill Awbrey': 1,
 'Travis Cluff': 1,
 'Branko Djuric': 1,
 'Rene Bitorajac': 1,
 'Filip Sovagovic': 1,
 'Nigel Lindsay': 1,
 'Eddie Izzard': 6,
 'Ahan Shetty': 1,
 'Tara Sutaria': 2,
 'Saurabh Shukla': 5,
 'Monique Rockman': 1,
 'Carel Nel': 1,
 'Alex van Dyk': 1,
 'Mahershala Ali': 4,
 'Naomie Harris': 11,
 'Ezra Dewey': 1,
 'Rob Brownstein': 1,
 'Tevy Poe': 1,
 'Edward James Olmos': 3,
 'George Lopez': 9,
 'Kathleen Quinlan': 2,
 'Penélope Cruz': 24,
 'Milena Smit': 1,
 'Israel Elejalde': 1,
 'Nick Robinson': 6,
 'Beulah Koale': 2,
 'Mithun Chakraborty': 4,
 'Mukesh Rishi': 1,
 'Mohan Joshi': 1,
 'Katherine Waterston': 6,
 'Vanessa Kirby': 1,
 'Casey Affleck': 15,
 'Yuji Okumoto': 1,
 'Jae Suh Park': 1,
 'Kieran Tamondong': 1,
 'Shea Whigham': 6,
 'Jordana Spiro': 2,
 "Kan'ichi Kurita": 1,
 'Kiyoshi Kobayashi': 1,
 'Daisuke Namikawa': 1,
 'Lainie Kazan': 3,
 'Renée Taylor': 1,
 'Justin L. Wilson': 1,
 'Clark Gable': 1,
 'Marilyn Monroe': 2,
 'Montgomery Clift': 2,
 'Honor Swinton Byrne': 1,
 'James Spencer Ashworth': 1,
 'Alisa Allapach': 1,
 'Adwin Brown': 1,
 'Katie L. Hall': 1,
 'Nita-Josée Hanna': 1,
 'Owen Myre': 1,
 'Matthew Ninaber': 1,
 'Niamh Algar': 1,
 'Michael Smiley': 2,
 'Nicholas Burns': 1,
 'Joel Bishop': 1,
 'Louis Boakye': 1,
 'Charley Boon': 2,
 'Joey McIntyre': 1,
 "Mike O'Malley": 1,
 'Chloe Bennet': 1,
 'Albert Tsai': 1,
 'Tenzing Norgay Trainor': 1,
 'Mana Ashida': 1,
 'Hiiro Ishibashi': 1,
 'Seishû Uragami': 1,
 'Paula Beer': 3,
 'Franz Rogowski': 4,
 'Maryam Zaree': 1,
 'Mads Mikkelsen': 11,
 'Nikolaj Lie Kaas': 5,
 'Andrea Heick Gadeberg': 1,
 'Merrill Ashley': 1,
 'George Balanchine': 1,
 "Jacques d'Amboise": 1,
 'Mark Duplass': 8,
 'Natalie Morales': 2,
 'Desean Terry': 1,
 'Clayne Crawford': 2,
 'Sepideh Moafi': 1,
 'Chris Coy': 1,
 'Katharine Hepburn': 3,
 'Rossano Brazzi': 1,
 'Isa Miranda': 1,
 'Félix Lefebvre': 1,
 'Benjamin Voisin': 1,
 'Philippine Velge': 1,
 'Maria Bello': 16,
 'Cody Horn': 1,
 'Michael Dorman': 1,
 'Sophia Bush': 2,
 'Dermot Mulroney': 17,
 'Yû Aoi': 2,
 'Issey Takahashi': 1,
 'Masahiro Higashide': 1,
 'Will Patton': 6,
 'Wood Harris': 4,
 'Jeremy Holm': 1,
 'Jill Paice': 1,
 'Jack DiFalco': 1,
 'Nathalie Douge': 1,
 'Julia Sarah Stone': 2,
 'Landon Liboiron': 1,
 'Carlee Ryski': 1,
 'Harvey Keitel': 11,
 'Sam Worthington': 16,
 'John Magaro': 5,
 'Linda Bates': 1,
 'Jerome Klinkowitz': 1,
 'Sidney Offit': 1,
 'Tom Skerritt': 3,
 'John Hurt': 8,
 'Katia Pascariu': 1,
 'Claudia Ieremia': 1,
 'Nicodim Ungureanu': 1,
 'Daniel Karimyar': 1,
 'Fardin Mijdzadeh': 1,
 'Milad Eskandari': 1,
 'Emile Hirsch': 13,
 'Luke David Blumm': 1,
 'Shawnee Smith': 2,
 'Dean Winters': 2,
 'Margaret Qualley': 1,
 'Douglas Booth': 4,
 'Ricardo Darín': 9,
 'Javier Cámara': 7,
 'Dolores Fonzi': 3,
 'St. Vincent': 1,
 'Ezra Buzzington': 1,
 'Toko Yasuda': 1,
 'Fabrizio Rongione': 6,
 'Stéphanie Cléau': 3,
 'Carmen Iriondo': 1,
 'Mariana Di Girólamo': 1,
 'Santiago Cabrera': 1,
 'Richard Dreyfuss': 5,
 'Holly Hunter': 9,
 'Brad Johnson': 1,
 'Biljana Cekic': 1,
 'Zlatan Vidovic': 1,
 'Anja Stanic': 1,
 'Julie Delpy': 4,
 'Richard Armitage': 3,
 'Daniel Brühl': 14,
 'Jessica Louthander': 1,
 'Tatiana Delaunay': 1,
 'Anders Hellström': 1,
 'Dave Davis': 2,
 'Menashe Lustig': 2,
 'Malky Goldman': 1,
 'Jeremy Irons': 10,
 'Neve Campbell': 8,
 'Sissy Spacek': 9,
 'Juliette Binoche': 23,
 'Nicole Garcia': 2,
 'François Civil': 3,
 'Martin Luther King': 3,
 'J. Edgar Hoover': 1,
 'David Garrow': 1,
 'Dennis Dean': 1,
 'Lynn Henry': 1,
 'Anne Kincer': 1,
 'Devon Sawa': 6,
 'Julian Sands': 1,
 'Kim Director': 1,
 'Thomas Bo Larsen': 3,
 'Magnus Millang': 1,
 'Tim Blake Nelson': 8,
 'Scott Haze': 2,
 'Gavin Lewis': 1,
 'William Shatner': 3,
 'Jean Smart': 2,
 'Don McManus': 1,
 'Sam Neill': 13,
 'Hugo Weaving': 6,
 'Theo Anthony': 2,
 'Keaver Brenai': 1,
 'Robert Cunniff': 1,
 'Alex MacNicoll': 1,
 'Michael Tacconi': 1,
 'Richard Attenborough': 1,
 'Nicol Williamson': 2,
 'Derek Jacobi': 5,
 'Jiayin Lei': 2,
 'Xian Li': 1,
 'Zhilei Xin': 1,
 'Chris Pratt': 12,
 'Bryce Dallas Howard': 8,
 'Ty Simpkins': 2,
 'Jesmark Scicluna': 1,
 'Marlene Schranz': 1,
 'David Scicluna': 1,
 'Léa Seydoux': 4,
 'Blanche Gardin': 2,
 'Benjamin Biolay': 3,
 'Joanna Lumley': 2,
 'Danielle Macdonald': 3,
 'Shazad Latif': 1,
 'Maya Hawke': 1,
 'Nat Wolff': 7,
 'Lake Bell': 4,
 'Alex Karpovsky': 5,
 'Martin Freeman': 7,
 'Jessica Hynes': 1,
 'Stephen Mangan': 1,
 "Ben O'Toole": 2,
 'Meg Fraser': 1,
 'Caroline Craig': 1,
 'Kelsey Grammer': 6,
 'Julia Stiles': 9,
 'Colman Domingo': 1,
 'MASUMI': 1,
 'Jonathan Rhys Meyers': 8,
 'Tsuyoshi Ihara': 2,
 'Denise Gough': 3,
 'Sebastian Stan': 5,
 'Yorgos Pirpassopoulos': 2,
 'Jim Cummings': 6,
 'Virginia Newcomb': 4,
 'PJ McCabe': 1,
 'Peter Wohlleben': 1,
 'Achim Bogdahn': 1,
 'Markus Lanz': 1,
 'Mila Al Zahrani': 1,
 'HGM Moe Ji One': 1,
 'Mohamed Othman': 1,
 'Mariya Belkina': 1,
 'Vladimir Friedman': 1,
 'Evelin Hagoel': 2,
 'Sofia Boutella': 6,
 'Ismael Cruz Cordova': 1,
 'Brooklynn Prince': 3,
 'Isabelle Huppert': 27,
 'Yann Sundberg': 1,
 'Michaël Louchart': 1,
 'Nick Cassavetes': 1,
 'Idella Johnson': 1,
 'Hannah Pepper': 1,
 'Lucien Guignard': 1,
 'Barbara Crampton': 1,
 'Larry Fessenden': 5,
 'Bonnie Aarons': 1,
 'Abigail Lawrie': 1,
 'Rona Morison': 1,
 'Marli Siu': 1,
 'Madeline Quinn': 1,
 'Betsey Brown': 1,
 'Stephen Gurewitz': 1,
 'Shahab Hosseini': 3,
 'Niousha Noor': 1,
 'Leah Oganyan': 1,
 'Charlie Shotwell': 2,
 'Michael C. Hall': 6,
 'Jennifer Ehle': 4,
 'Kai Luke Brummer': 1,
 'Barbara-Marié Immelman': 1,
 'Michael Kirch': 1,
 'Jovan Adepo': 2,
 'Grace Van Patten': 1,
 'Lukas Haas': 7,
 'Irma P. Hall': 3,
 'Kelvin Harrison Jr.': 4,
 'Jacob Latimore': 2,
 'Charlie Plummer': 3,
 'Eric Roberts': 9,
 'John J. Vogel': 1,
 'Daniel K. Daniel': 1,
 "Fionn O'Shea": 1,
 'Lola Petticrew': 1,
 'Sharon Horgan': 1,
 'Ani Karseladze': 1,
 'Giorgi Bochorishvili': 1,
 'Oliko Barbakadze': 1,
 'Giulietta Masina': 4,
 'François Périer': 2,
 'Franca Marzi': 1,
 'Isabelle Fuhrman': 2,
 'Amy Forsyth': 2,
 'Dilone': 1,
 'Jessica Allain': 1,
 'Mac Brandt': 1,
 'Skylan Brooks': 1,
 'Paul Newman': 8,
 'Lauren Bacall': 5,
 'Julie Harris': 1,
 'Grégoire Ludig': 1,
 'David Marsais': 1,
 'Adèle Exarchopoulos': 3,
 'Denis Podalydès': 4,
 'Corinne Masiero': 1,
 'Donald Pleasence': 3,
 'Tony Moran': 1,
 'Adam Smit': 1,
 'Theo James': 5,
 'Kat Graham': 2,
 'Nancy Sorel': 1,
 'Alec Utgoff': 1,
 'Maja Ostaszewska': 3,
 'Agata Kulesza': 2,
 'Tyson Brown': 1,
 'Shelby Duclos': 1,
 'Jesse Janzen': 2,
 'Ice-T': 3,
 'Robert Clohessy': 2,
 'Jules Willcox': 2,
 'Ryôta Ôsaka': 1,
 'Asami Seto': 1,
 'Tetsuya Kakihara': 1,
 'Alison Arngrim': 1,
 'Monica Moore Smith': 3,
 'James Gaisford': 1,
 'Billy Tipton Jr.': 1,
 'Holden Bernstein': 1,
 'Kate Bornstein': 1,
 'Chris Gonzales': 1,
 'Nathan-Andrew Hight': 1,
 'Michael Kaiser': 1,
 'Michael Caine': 17,
 'Aubrey Plaza': 5,
 'Scott Speedman': 12,
 'Aya Cash': 2,
 'William Jackson Harper': 1,
 'Sarah Bolger': 4,
 'Jessica Rothe': 4,
 'Harry Shum Jr.': 2,
 'Marielle Scott': 1,
 'Meera Devi': 1,
 'Shyamkali Devi': 1,
 'Suneeta Prajapati': 1,
 'Gabriel Byrne': 14,
 'Jessica Paré': 4,
 'Brian Gleeson': 1,
 'Meadow Williams': 2,
 'Carsten Norgaard': 1,
 'Zackary Arthur': 1,
 'Paul Johansson': 1,
 'Jason Dolley': 2,
 'Yllka Gashi': 1,
 'Çun Lajçi': 1,
 'Aurita Agushi': 1,
 'Sierra McCormick': 1,
 'Pat Healy': 7,
 'Trina Cunningham': 1,
 'Mike Davis': 1,
 'Don Hankins': 1,
 'Zeytin': 1,
 'Nazar': 1,
 'Kartal': 1,
 'Jill Biden': 1,
 'Pete Buttigieg': 1,
 'Julian Castro': 1,
 'Matilda Tucker': 1,
 'Martin Amis': 1,
 'Adolf Hitler': 1,
 'Jena Malone': 9,
 'Pablo Schreiber': 2,
 'Ryan Findley': 1,
 'Iosif Stalin': 1,
 'Nikita Khrushchev': 1,
 'Lavrenti Beria': 1,
 'Yay Yay Bobby Jones': 1,
 'Catherine Machovsky': 1,
 'Yu Zhang': 1,
 'Magdalena Kolesnik': 1,
 'Julian Swiezewski': 1,
 'Aleksandra Konieczna': 2,
 'Camille Sullivan': 1,
 'Summer H. Howell': 1,
 'Dreya Weber': 1,
 'Morgan Bradley': 1,
 'Kelly Marcus': 1,
 'Morningstar Angeline': 1,
 'Andrew Martin': 1,
 'Ajuawak Kapashesit': 1,
 'Diane Lane': 16,
 'Kevin Costner': 19,
 'Kayli Carter': 1,
 'Hélène Fillières': 1,
 'André Wilms': 2,
 'Stacy Martin': 4,
 'Valeria Golino': 4,
 'Lauren Grego': 1,
 'Anthony Taufa': 1,
 'Cooper Flynn': 1,
 'Eli Morgan Gesner': 1,
 'Jeff Pang': 1,
 'Fab 5 Freddy': 1,
 'Denis Ménochet': 3,
 'Laure Calamy': 1,
 'Damien Bonnard': 2,
 'Vincent Munier': 1,
 'Sylvain Tesson': 1,
 'Joel Widman': 1,
 'Stuart Anderson': 1,
 'Nemo Baletic': 1,
 'Sheila Vand': 4,
 'Annes Elwy': 1,
 'Nia Roberts': 1,
 'Julian Lewis Jones': 1,
 'Zhila Shahi': 1,
 'Baran Rasoulof': 1,
 'Mohammad Valizadegan': 1,
 'Lou de Laâge': 1,
 'Charles Berling': 6,
 'Ale Ulman': 1,
 'Amalia Ulman': 1,
 'Nacho Vigalondo': 1,
 'Lou Ferrigno Jr.': 1,
 'Charles Shaughnessy': 2,
 'Kirby Bliss Blanton': 1,
 'James Quinn': 1,
 'Daniel Johnson': 1,
 'David Ogrodowski': 1,
 'Rae Dawn Chong': 1,
 'David Fumero': 2,
 'Julie McNiven': 1,
 'Mizuki Itagaki': 1,
 'Takahiro Miura': 1,
 'Riko Narumi': 1,
 'Julia Jones': 1,
 'Stephen McHattie': 5,
 'Tantoo Cardinal': 1,
 "K. O'Rourke": 1,

In [948]:
# Look at the top actors 
top_actors = sorted(actor_dict.items(), key=lambda item: item[1], reverse = True)

In [949]:
# Movie cutoffs for top 10, top 50, and top 100 actors 
cutoff_10_actors = top_actors[9][1]
cutoff_50_actors = top_actors[49][1]
# Top 100 actor made at least 21 movies since 2020 
cutoff_100_actors = top_actors[99][1]

In [950]:
# Get lists of top actors 
top_10_actors = [key for key, value in actor_dict.items() if value >= cutoff_10_actors]
top_50_actors = [key for key, value in actor_dict.items() if value >= cutoff_50_actors]
top_100_actors = [key for key, value in actor_dict.items() if value >= cutoff_100_actors]

### Create columns for top 10, 50, 100 actors:

In [951]:
# Function for coding top actors 
def has_top_actor(actors, actor_list): 
    # Check that the row is a list (it's NaN otherwise): 
    if isinstance(actors, list):
        for actor in actors:
            if actor in actor_list: 
                return 1 
        return 0 
    else: 
        return np.nan

In [952]:
# Create new variables: 
df['top_10_actors'] = df['actors'].apply(lambda x: has_top_actor(x, top_10_actors))
df['top_50_actors'] = df['actors'].apply(lambda x: has_top_actor(x, top_50_actors))
df['top_100_actors'] = df['actors'].apply(lambda x: has_top_actor(x, top_100_actors))

In [953]:
# Check output 
df['top_100_actors'].value_counts()

0.0    8369
1.0    2092
Name: top_100_actors, dtype: int64

## Recode Remaining columns: 
### Recode languages and countries:

In [954]:
languages = []
for i in range(len(df['language'])):
    # account for null values 
    if pd.isna(df['language'][i]): 
        languages.append(np.nan)
    elif 'English' in df['language'][i].split(",") and (len(df['language'][i].split(",")) > 1):
        languages.append("English and others")
    elif 'English' in df['language'][i].split(",") and (len(df['language'][i].split(",")) == 1):
        languages.append("English only")
    else:
        languages.append('Foreign lang')
        
df['language_coded'] = pd.DataFrame(languages)

In [955]:
countries = []
for i in range(len(df['country'])):
    # account for null values 
    if pd.isna(df['country'][i]): 
        countries.append(np.nan)
    elif 'United States' in df['country'][i].split(",") and (len(df['country'][i].split(",")) > 1):
        countries.append("US and others")
    elif 'United States' in df['country'][i].split(",") and (len(df['country'][i].split(",")) == 1):
        countries.append("US only")
    else:
        countries.append('Foreign country')
df['country_coded'] = pd.DataFrame(countries)

### Create ratings column that will then be dummy coded:

In [957]:
# Function for coding ratings:  
# Decided to code missing data as 'Unrated' as well 
def recode_ratings(x): 
    # Check if the row is NaN: 
    if pd.isna(x): 
        return 'Unrated' 
    elif x in ['R', 'NC-17', 'X', 'TV-MA', 'MA-17']: 
        return 'R'
    elif x in ['PG-13', 'TV-14']: 
        return 'PG-13'
    elif x in ['PG', 'TV-PG']: 
        return 'PG'
    elif x in ['G', 'TV-G', 'TV-Y7']: 
        return 'G'
    elif x in ['Not Rated', 'Unrated', 'UNRATED']: 
        return 'Unrated'
    elif x in ['Approved', 'Passed']: 
        return 'Approved/Passed'
    else: 
        return np.nan

In [958]:
df['rating'] = df['rated'].apply(recode_ratings)

### Recode genre into 1 or 0 coded columns by genre:

In [959]:
# Convert genre column into a list of genres: 
df['genre'] = df['genre'].apply(to_list)

In [960]:
# See what genres we have and how many of each: 
genre_dict = {}
for genres in df['genre']: 
    if isinstance(genres, list):
        for genre in genres: 
            genre_dict[genre] = genre_dict.get(genre, 0) + 1

In [961]:
# Function for recoding genre column: 
def has_genre(genres, genre_list): 
    # Check if the row is a list (NaN otherwise): 
    if isinstance(genres, list):
        for genre in genres:
            if genre in genre_list: 
                return 1 
        return 0 
    else: 
        return np.nan

In [962]:
# Combine in following way: 
# Film Noir, Adult, Western, and War --> combine with Drama 
# Music and Musical --> Musical 
# Animation and Family --> combine into 1 (Family/Animation)
# Fantasy and Sci-Fi --> Combine into 1 
# News, Reality TV, and Talk Show --> TV label 
# Leave out sport? 
genre_dict

{'Action': 1603,
 'Adventure': 1124,
 'Fantasy': 497,
 'Sci-Fi': 409,
 'Crime': 1471,
 'Thriller': 1260,
 'Drama': 5963,
 'Horror': 784,
 'Comedy': 3385,
 'Short': 173,
 'Documentary': 1543,
 'Animation': 374,
 'Family': 385,
 'Biography': 906,
 'Mystery': 722,
 'Musical': 125,
 'Romance': 1815,
 'Music': 506,
 'Sport': 255,
 'History': 515,
 'Western': 65,
 'Adult': 6,
 'War': 234,
 'Film-Noir': 15,
 'News': 23,
 'Reality-TV': 2,
 'Talk-Show': 1}

In [963]:
# Missing code for Short (173 movies) and Sport (255 movies)
df['Action'] = df['genre'].apply(lambda x: has_genre(x, ['Action']))
df['Adventure'] = df['genre'].apply(lambda x: has_genre(x, ['Adventure']))
df['Fantasy/Sci-Fi'] = df['genre'].apply(lambda x: has_genre(x, ['Fantasy', 'Sci-Fi']))
df['Crime'] = df['genre'].apply(lambda x: has_genre(x, ['Crime']))
df['Thriller/Mystery'] = df['genre'].apply(lambda x: has_genre(x, ['Thriller', 'Mystery']))
df['Drama'] = df['genre'].apply(lambda x: has_genre(x, ['Drama', 'Film-Noir', 'War', 'Western', 'Adult']))
df['Horror'] = df['genre'].apply(lambda x: has_genre(x, ['Horror']))
df['Comedy'] = df['genre'].apply(lambda x: has_genre(x, ['Comedy']))
df['Documentary'] = df['genre'].apply(lambda x: has_genre(x, ['Documentary']))
df['Family/Animated'] = df['genre'].apply(lambda x: has_genre(x, ['Family', 'Animation']))
df['Biography/History'] = df['genre'].apply(lambda x: has_genre(x, ['Biography', 'History']))
df['Romance'] = df['genre'].apply(lambda x: has_genre(x, ['Romance']))
df['Music/Musical'] = df['genre'].apply(lambda x: has_genre(x, ['Musical', 'Music']))
df['Likely TV'] = df['genre'].apply(lambda x: has_genre(x, ['News', 'Reality-TV', 'Talk-Show']))

In [964]:
# Check that this worked correctly 
df['Thriller/Mystery'].value_counts()

0.0    8858
1.0    1750
Name: Thriller/Mystery, dtype: int64

## Recode Yearly Gross - Our Dependent Variable

Want to include just the first year that a movie earns money in, 
unless it came out on Dec. 1st or later of that year, in which case include the following year as well. 
* Sorty df_revenue by year and then include only first two entries for each movie

In [965]:
# Here are the number of years movies earned money over 
# Majority of movies earn money in only the 1st and 2nd years that they are out 
df_revenue.groupby('title').gross.count().value_counts()

1     9724
2     2194
3      144
4       38
5       14
8        4
7        3
15       3
9        2
10       2
6        2
11       1
14       1
Name: gross, dtype: int64

In [966]:
# Movies that earned money in more than 4 different years: 
# 3 movies earned money in 15 different years 
df_revenue.groupby('title').gross.count()[df_revenue.groupby('title').gross.count() > 4]

title
Across The Sea of Time             5
Alien Adventure                    7
Beauty and the Beast               5
Born to be Wild 3D                 9
Bugs!                              5
Cirque du Soleil - Journey …       5
Deep Sea 3-D                      14
Elf                                5
Encounter in the Third Dime…       7
Galapagos                         15
Halloween                          5
Harry Potter and the Deathl…       5
Haunted Castle                     8
Hubble 3D                         10
Island of Lemurs: Madagascar       6
Magnificent Desolation             9
Monsieur Verdoux                   6
Monsters, Inc.                     5
Santa vs. The Snowman              8
Sea Monsters: A Prehistoric…       5
Space Station                     15
T-Rex: Back to the Cretaceous      8
The Lion King                      5
The Lord of the Rings: The …      10
The Nightmare Before Christmas     7
The Polar Express                 15
The Square                         5
The Terkel in Trouble              5
The Worst Movie EVER!              5
To Die is Hard                     5
To the Arctic 3D                   8
Under the Sea 3D                  11
Name: gross, dtype: int64

In [967]:
# Sort by year and reset index: 
df_revenue = df_revenue.sort_values('year')
df_revenue = df_revenue.reset_index(drop = True)

In [969]:
# Now all Galapagos movies are in the right order 
df_revenue[df_revenue.title == 'Galapagos']

,year,rank,title,release_date,distributor,genre,gross,tickets_sold
254,2000,153,Galapagos,1999-10-29,IMAX Films,Documentary,7763963,1440438
681,2001,185,Galapagos,1999-10-29,IMAX Films,Documentary,3511940,620484
1243,2002,220,Galapagos,1999-10-29,IMAX Films,Documentary,1781616,306646
1923,2003,305,Galapagos,1999-10-29,IMAX Films,Documentary,391051,64850
2984,2004,332,Galapagos,1999-10-29,IMAX Films,Documentary,305814,49245
3118,2005,244,Galapagos,1999-10-29,IMAX Films,Documentary,945269,147467
3789,2006,263,Galapagos,1999-10-29,IMAX Films,Documentary,1132540,172906
4595,2007,343,Galapagos,1999-10-29,IMAX Films,Documentary,322635,46894
5394,2008,295,Galapagos,1999-10-29,IMAX Films,Documentary,513163,71471
6574,2009,356,Galapagos,1999-10-29,IMAX Films,Documentary,179782,23970
7296,2010,389,Galapagos,1999-10-29,IMAX Films,Documentary,113853,14430
7573,2011,320,Galapagos,1999-10-29,IMAX Films,Documentary,311275,39252
8805,2012,540,Galapagos,1999-10-29,IMAX Films,Documentary,20198,2537
9300,2013,596,Galapagos,1999-10-29,IMAX Films,Documentary,9057,1114
11328,2016,314,Galapagos,1999-10-29,IMAX Films,Documentary,463537,53588

In [970]:
# Way to get the month 
df_revenue['release_date'].dt.month >= 12

0        False
1         True
2        False
3        False
4         True
         ...
14934    False
14935    False
14936    False
14937    False
14938     True
Name: release_date, Length: 14939, dtype: bool

In [971]:
# Way to get release date: 
list(df_revenue['release_date'][df_revenue['title'] == 'Galapagos'].dt.month)[0]

10

In [972]:
# Way to get the top two years like this for movies that came out in December and then take the sum: 
sum(list(df_revenue['gross'][df_revenue['title'] == 'Galapagos'])[:2])

11275903

In [973]:
# Create dictionary with the first year (or 1st and 2nd) gross for every movie: 
title_dict = {}
for title in df_revenue['title']:
    # Only add title if it's not already in the dictionary: 
    if title not in title_dict: 
        # Check if the movie came out in December that year: 
        if list(df_revenue['release_date'][df_revenue['title'] == title].dt.month)[0] == 12: 
            # If so, add sum of first 2 gross entries to dictionary 
            sum_first_two_years = sum(list(df_revenue['gross'][df_revenue['title'] == title])[:2])
            title_dict[title] = sum_first_two_years
        else: 
            first_year_gross = list(df_revenue['gross'][df_revenue['title'] == title])[0]
            title_dict[title] = first_year_gross

In [974]:
# Check that dict is correct: 
print(title_dict['Galapagos'])

7763963

In [975]:
# Check for a movie that has 2 years of data and came out in December:
df_revenue[df_revenue.title == 'Up in the Air'].gross.sum()

83823381

In [976]:
# Looks like dictionary has the correct values! 
title_dict['Up in the Air']

83823381

### Create new '1st_year_revenue' column:

In [977]:
# Create the new column in df_revenue 
df_revenue['1st_year_revenue'] = df_revenue['title'].apply(lambda x: title_dict[x])

In [978]:
# Drop all duplicate movies from df_revenue, keeping only the first one by index: 
print('Number of rows before dropping duplicate movies:', len(df_revenue))
df_revenue = df_revenue.drop_duplicates(subset=['title', 'release_date'], keep='first')
print('Number of rows after dropping duplicate movies:', len(df_revenue))

Number of rows before dropping duplicate movies: 14939
Number of rows after dropping duplicate movies: 12441

## Join the two datasets together:

In [979]:
# Inspect movie titles that have a '...': 
df_revenue[df_revenue['title'].apply(lambda x: '…' in x)]

,year,rank,title,release_date,distributor,genre,gross,tickets_sold,1st_year_revenue
23,2000,228,Thrill Ride: The Science of…,1997-07-11,Sony Pictures Cla…,Documentary,1499329,278168,1499329
32,2000,219,The Life and Times of Hank …,2000-01-12,Cowboy Pictures,Documentary,1703901,316122,1703901
34,2000,217,The Broken Hearts Club: A R…,2000-09-29,Sony Pictures Cla…,Comedy,1719458,319008,1719458
39,2000,193,Siegfried & Roy: Masters of…,1999-10-01,IMAX Films,Documentary,3053163,566449,3053163
64,2000,187,Ghost Dog: The Way of the S…,2000-03-03,Artisan,Drama,3330230,617853,3330230
...,...,...,...,...,...,...,...,...,...
14857,2021,255,Truman & Tennessee: An Inti…,2021-06-17,Kino Lorber,Documentary,54149,5905,54149
14885,2021,220,The Loneliest Whale: The Se…,2021-07-09,Bleecker Street,Documentary,107799,11755,107799
14909,2021,308,A Soldier’s Story 2: Return…,2021-06-26,Indican Pictures,Action,21543,2349,21543
14922,2021,268,Death Rider in the House of…,2021-08-20,Atlas Distribution,Horror,44736,4878,44736
14934,2021,280,Youngest Evangelist And The…,2021-11-19,Atlas Distribution,Drama,35750,3898,35750

In [980]:
# Ellipsis counts as only 1 character 
len('…')

1

In [981]:
# Looks like title cuts off after 27 characters and then 1 char for ellipsis 
# Note that title can also be cut off after a space 
print(len('Demon Slayer The Movie: Mug')) 
print(len('This is not an Exit: The Fi')) 
print(len('Sinbad: Beyond the Veil of '))

27
27
27

In [982]:
# Create cut_title columns in both dataframes: 
# Note: Weird that some whole movie titles are included even though they are longer than 27 characters
df_revenue['cut_title'] = df_revenue['title'].apply(lambda x: x[:27].lower())
df['cut_title'] = df['title'].apply(lambda x: x[:27].lower())

In [983]:
# These two Ground Zero movies are different movies :(
# Probably many examples like this 
df_revenue[df_revenue['title'] == 'Ground Zero']

,year,rank,title,release_date,distributor,genre,gross,tickets_sold,1st_year_revenue,cut_title
0,2000,625,Ground Zero,2000-05-26,NaN,NaN,150,27,150,ground zero

In [984]:
df[df['title'] == 'Ground Zero']

,title,year,rated,released,runtime,genre,director,writer,actors,plot,...,Drama,Horror,Comedy,Documentary,Family/Animated,Biography/History,Romance,Music/Musical,Likely TV,cut_title
7301,Ground Zero,1987,PG-13,1987-10-01,109.0,"[Action, Drama, Mystery]","Bruce Myles, Michael Pattinson","[Mac Gudgeon, Jan Sardi]","[Colin Friels, Jack Thompson, Donald Pleasence]",A second generation cameraman in Australia fin...,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ground zero

### Join Dataframes to get final one

In [1026]:
# Before merging: 
print(f'Movie info dataset has {len(df)} unique movies.')
print(f'Movie revenue dataset has {len(df_revenue)} unique movies.')

Movie info dataset has 10623 unique movies.
Movie revenue dataset has 12441 unique movies.

In [1027]:
df_final = df_revenue.merge(df, how='inner', left_on= ['cut_title', 'release_date'], \
                            right_on=['cut_title', 'released'], suffixes=["_rev", None])

In [1028]:
print(f'Final dataset has only {len(df_final)} unique movies.')

Final dataset has only 4714 unique movies.

In [1029]:
# Select only columns that we want from these 
df_final.columns

Index(['year_rev', 'rank', 'title_rev', 'release_date', 'distributor',
       'genre_rev', 'gross', 'tickets_sold', '1st_year_revenue', 'cut_title',
       'title', 'year', 'rated', 'released', 'runtime', 'genre', 'director',
       'writer', 'actors', 'plot', 'language', 'country', 'poster',
       'top_10_dir', 'top_50_dir', 'top_100_dir', 'top_10_actors',
       'top_50_actors', 'top_100_actors', 'language_coded', 'country_coded',
       'rating', 'Action', 'Adventure', 'Fantasy/Sci-Fi', 'Crime',
       'Thriller/Mystery', 'Drama', 'Horror', 'Comedy', 'Documentary',
       'Family/Animated', 'Biography/History', 'Romance', 'Music/Musical',
       'Likely TV'],
      dtype='object')

In [1031]:
# We Want df_final to have only following columns: 
df_final = df_final[['1st_year_revenue', 'title', 'year', 'released', 'runtime', 'plot', 
       'top_10_dir', 'top_50_dir', 'top_100_dir', 'top_10_actors',
       'top_50_actors', 'top_100_actors', 'language_coded', 'country_coded',
       'rating', 'Action', 'Adventure', 'Fantasy/Sci-Fi', 'Crime',
       'Thriller/Mystery', 'Drama', 'Horror', 'Comedy', 'Documentary',
       'Family/Animated', 'Biography/History', 'Romance', 'Music/Musical',
       'Likely TV']]

In [1032]:
# Recode column names: 
df_final.columns = ['1st_year_revenue', 'title', 'year', 'released', 'runtime', 'plot', 
       'top_10_dir', 'top_50_dir', 'top_100_dir', 'top_10_actors',
       'top_50_actors', 'top_100_actors', 'language', 'country',
       'rating', 'Action', 'Adventure', 'Fantasy/Sci-Fi', 'Crime',
       'Thriller/Mystery', 'Drama', 'Horror', 'Comedy', 'Documentary',
       'Family/Animated', 'Biography/History', 'Romance', 'Music/Musical',
       'Likely TV']

In [1033]:
# Drop any rows with missing data:  
df_final = df_final.dropna()

In [1034]:
print(f'Final dataset has only {len(df_final)} unique movies after dropping rows with NaNs.')

Final dataset has only 4568 unique movies after dropping rows with NaNs.

In [1035]:
df_final.to_csv('final_data.csv', index = False)

In [1036]:
df_final.head()

,1st_year_revenue,title,year,released,runtime,plot,top_10_dir,top_50_dir,top_100_dir,top_10_actors,...,Thriller/Mystery,Drama,Horror,Comedy,Documentary,Family/Animated,Biography/History,Romance,Music/Musical,Likely TV
0,2197561,Africa's Elephant Kingdom,1998,1998-05-08,40.0,This film explores an elephant clan's search f...,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,2637726,God's Army,2000,2000-03-10,108.0,Life as a Mormon missionary isn't what 19-year...,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2699820,The Bone Collector,1999,1999-11-05,118.0,A quadriplegic ex-homicide detective and his p...,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2703114,Double Jeopardy,1999,1999-09-24,105.0,A woman framed for her husband's murder suspec...,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1428932,Three Kings,1999,1999-10-01,114.0,"In the aftermath of the Persian Gulf War, four...",0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

# Modeling

## Statsmodels with all the data:

In [1018]:
# Add dummy variables: 
df_final = pd.get_dummies(df_final, columns= ['language', 'country', 'rating'], drop_first=True)

In [1020]:
# Create df_X with all variables except title, released, and dependent variable (1st_year_revenue)
# ('language', 'country', 'rating' have already been removed since those are captured by dummies) 
df_X = df_final.drop(['1st_year_revenue', 'title', 'released'], axis = 1)

# Standardize the data in X: 
df_X = (df_X - np.mean(df_X)) / np.std(df_X)

# Add constant for the statsmodel version: 
df_X_w_const = sm.tools.tools.add_constant(df_X)
df_X_w_const.head()

,const,year,runtime,top_10_dir,top_50_dir,top_100_dir,top_10_actors,top_50_actors,top_100_actors,Action,...,Music/Musical,Likely TV,language_English only,language_Foreign lang,country_US and others,country_US only,rating_PG,rating_PG-13,rating_R,rating_Unrated
0,1.0,-1.811574,-3.030048,-0.166947,-0.318012,-0.405954,-0.246026,-0.475054,-0.627859,-0.566155,...,-0.223735,-0.039154,0.908998,-0.456628,-0.435839,1.004603,-0.365533,-0.647878,-0.688284,1.749651
1,1.0,-1.530086,0.078718,-0.166947,-0.318012,-0.405954,-0.246026,-0.475054,-0.627859,-0.566155,...,-0.223735,-0.039154,0.908998,-0.456628,-0.435839,1.004603,2.735732,-0.647878,-0.688284,-0.571543
2,1.0,-1.670830,0.535889,-0.166947,-0.318012,-0.405954,-0.246026,2.105022,1.592713,-0.566155,...,-0.223735,-0.039154,0.908998,-0.456628,2.294424,-0.995418,-0.365533,-0.647878,1.452888,-0.571543
3,1.0,-1.670830,-0.058434,-0.166947,-0.318012,-0.405954,-0.246026,-0.475054,-0.627859,-0.566155,...,-0.223735,-0.039154,0.908998,-0.456628,2.294424,-0.995418,-0.365533,-0.647878,1.452888,-0.571543
4,1.0,-1.670830,0.353021,-0.166947,-0.318012,-0.405954,4.064612,2.105022,1.592713,1.766301,...,-0.223735,-0.039154,-1.100112,-0.456628,-0.435839,1.004603,-0.365533,-0.647878,1.452888,-0.571543

In [1021]:
df_X.columns

Index(['year', 'runtime', 'top_10_dir', 'top_50_dir', 'top_100_dir',
       'top_10_actors', 'top_50_actors', 'top_100_actors', 'Action',
       'Adventure', 'Fantasy/Sci-Fi', 'Crime', 'Thriller/Mystery', 'Drama',
       'Horror', 'Comedy', 'Documentary', 'Family/Animated',
       'Biography/History', 'Romance', 'Music/Musical', 'Likely TV',
       'language_English only', 'language_Foreign lang',
       'country_US and others', 'country_US only', 'rating_PG', 'rating_PG-13',
       'rating_R', 'rating_Unrated'],
      dtype='object')

In [1024]:
mod1 = sm.OLS(df_final['1st_year_revenue'], df_X_w_const)
mod1_results = mod1.fit() 
mod1_results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:       1st_year_revenue   R-squared:                       0.355
Model:                            OLS   Adj. R-squared:                  0.351
Method:                 Least Squares   F-statistic:                     83.50
Date:                Wed, 07 Dec 2022   Prob (F-statistic):               0.00
Time:                        17:36:52   Log-Likelihood:                -87819.
No. Observations:                4573   AIC:                         1.757e+05
Df Residuals:                    4542   BIC:                         1.759e+05
Df Model:                          30
Covariance Type:            nonrobust
=========================================================================================
                            coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------
const                  3.296e+07   7.86e+05     41.942      0.000    3.14e+07    3.45e+07
year                   1.489e+06   8.11e+05      1.835      0.067   -1.02e+05    3.08e+06
runtime                1.339e+07   9.53e+05     14.054      0.000    1.15e+07    1.53e+07
top_10_dir             5.104e+05    9.3e+05      0.549      0.583   -1.31e+06    2.33e+06
top_50_dir            -4.317e+06   1.36e+06     -3.175      0.002   -6.98e+06   -1.65e+06
top_100_dir            9.137e+06   1.29e+06      7.058      0.000     6.6e+06    1.17e+07
top_10_actors          -1.85e+06   9.26e+05     -1.997      0.046   -3.67e+06   -3.37e+04
top_50_actors          3.219e+06   1.31e+06      2.461      0.014    6.55e+05    5.78e+06
top_100_actors         5.148e+06   1.25e+06      4.114      0.000    2.69e+06     7.6e+06
Action                 9.796e+05   1.01e+06      0.969      0.333      -1e+06    2.96e+06
Adventure              1.502e+07   1.02e+06     14.746      0.000     1.3e+07     1.7e+07
Fantasy/Sci-Fi         4.826e+06   8.82e+05      5.472      0.000     3.1e+06    6.55e+06
Crime                  -1.63e+06    8.9e+05     -1.831      0.067   -3.38e+06    1.15e+05
Thriller/Mystery       -1.05e+06   9.97e+05     -1.053      0.292   -3.01e+06    9.05e+05
Drama                 -7.551e+06   1.09e+06     -6.957      0.000   -9.68e+06   -5.42e+06
Horror                 -2.27e+05   9.38e+05     -0.242      0.809   -2.07e+06    1.61e+06
Comedy                -7.329e+05   1.07e+06     -0.687      0.492   -2.82e+06    1.36e+06
Documentary            -2.47e+06   1.15e+06     -2.148      0.032   -4.72e+06   -2.15e+05
Family/Animated        6.909e+06   1.13e+06      6.095      0.000    4.69e+06    9.13e+06
Biography/History     -2.232e+06    8.8e+05     -2.535      0.011   -3.96e+06   -5.06e+05
Romance                -1.74e+06    9.1e+05     -1.912      0.056   -3.52e+06    4.42e+04
Music/Musical         -5.413e+05   8.12e+05     -0.667      0.505   -2.13e+06    1.05e+06
Likely TV               3.21e+05   7.93e+05      0.405      0.686   -1.23e+06    1.88e+06
language_English only -6.603e+06   9.68e+05     -6.824      0.000    -8.5e+06   -4.71e+06
language_Foreign lang  -8.02e+06   1.26e+06     -6.362      0.000   -1.05e+07   -5.55e+06
country_US and others  6.139e+06   9.97e+05      6.156      0.000    4.18e+06    8.09e+06
country_US only        1.041e+07   1.11e+06      9.398      0.000    8.24e+06    1.26e+07
rating_PG             -2.204e+06   2.03e+06     -1.088      0.277   -6.18e+06    1.77e+06
rating_PG-13           3.736e+06   3.02e+06      1.236      0.216   -2.19e+06    9.66e+06
rating_R              -4.783e+06   3.11e+06     -1.538      0.124   -1.09e+07    1.31e+06
rating_Unrated         -6.39e+06   2.87e+06     -2.228      0.026    -1.2e+07   -7.66e+05
==============================================================================
Omnibus:                     3835.705   Durbin-Watson:                   0.960
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           168171.407
Skew:                           3.753   Prob(JB):                         0.00
Kurtosis:                      31.745   Cond. No.                         12.5
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""